/* ----------Google Fonts Added---------- */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Work Sans", serif; */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

/* ----------Google Icons Added---------- */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  font-family: "Work Sans", serif;
}

/* ----------Heading Section Styles---------- */
header {
  max-width: 1600px;
  height: 809px;
  margin: 0 auto;
  background-image: url(../images/banner/banner2.png);
  margin-bottom: 130px;
}

/* -----Banner Text Styles----- */
.header-text-container {
  display: flex;
}

.header-text {
  margin: 216px 230px 365px 845px;
  width: 525px;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
}

.header-text h1 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
  color: rgb(21, 20, 20);
}

.header-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(68, 67, 67);
  margin-bottom: 32px;
}

/* -----Button Styles----- */
.header-text button {
  width: 160px;
  height: 64px;
  border-radius: 5px;
  background-color: rgb(241, 91, 34);
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

/* ----------Failures Section Styles---------- */
.failures-section {
  width: 1072px;
  height: 723.3px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}

/* ----- Image Styles ----- */
.failures-section-image {
  width: 569px;
  height: 723.3px;
}
.failures-section-image img {
  width: 100%;
  height: 100%;
}

/* ----- Text Styles ----- */

.failures-section-text-container {
  width: 416px;
  height: 400px;
}

.failures-section-text-container h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  color: rgb(21, 20, 20);
}

.failures-section-text-container p {
  color: rgb(68, 67, 67);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.failures-section-text-container h6 {
  color: rgb(68, 67, 67);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 8px;
}

/* ----------Check Symbol Styles---------- */
h6 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.material-symbols-outlined {
  font-size: 20px;
  color: rgb(22, 216, 135);
}

/* ----------my-plans-section styles---------- */

.my-plans-section {
  width: 1140px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 130px;
}
.my-plans-section h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: rgb(21, 20, 20);
}

/* ----- my plans container styles ----- */
.my-plans-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

/* -----my plans card styles----- */
.my-plans-card {
  width: 240px;
  height: 200px;
  text-align: center;
}

/* -----card text styles----- */
.my-plans-card h4 {
  font-size: 30px;
  font-weight: 700;
  color: rgb(21, 20, 20);
  margin-top: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
  white-space: nowrap;
}

.my-plans-card p {
  font-size: 25px;
  font-weight: 500;
  color: rgb(115, 114, 114);
}

/* ---------- Contact Section Styles ---------- */
.contact-section {
  position: relative;
  background: url(../images/watch.png) no-repeat center/cover;
  width: 100%;
  max-width: 1140px;
  height: 300px;
  margin: 0 auto 130px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* ---------- Overlay Image ---------- */
.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

/* ---------- Contact Section Text ---------- */
.contact-section h3 {
  font-size: 40px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
  margin-top: 59px;
  margin-left: 64px;
}

/* ---------- Contact Section Button ---------- */
.contact-section button {
  width: 160px;
  height: 64px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  color: rgb(241, 91, 34);
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin-top: 24px;
  margin-left: 64px;
}

/* ----------footer section styles---------- */
.footer-section {
  width: 1600px;
  height: 577px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(21, 20, 20);
}

/* -----footer text styles----- */
.footer-text {
  width: 485px;
  height: 317px;
}
.footer-text h3 {
  font-size: 45px;
  font-weight: 700;
  color: rgb(248, 248, 248);
  margin-bottom: 16px;
}
.footer-text p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
}
.footer-text h6 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
}

/* -----social-media----- */
.social-media a {
  text-decoration: none;
}
/* -----copyright text styles----- */
.copyright {
  margin-top: 50px;
}
/* -----email subscription input field styles----- */
.email-subscription {
  width: 325px;
  height: 204px;
}

.email-subscription h3 {
  font-size: 25px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-bottom: 31px;
}

/* -----Input field styles----- */
.email {
  width: 325px;
  height: 64px;
  border-radius: 8px;
  color: rgb(243, 243, 243);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
  background: transparent;
  border: 1px solid gray;
}

/* -----Button styles for anchor tag----- */
.btn {
  display: inline-block;
  width: 170px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(241, 91, 34);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: background 0.3s, transform 0.2s;
}

/* -----Hover effect----- */
.btn:hover {
  background-color: rgb(241, 91, 34);
  color: rgb(255, 255, 255);
  transform: scale(1.05);
}

/* -----:target style added----- */
#failures-section:target {
  border: 1px solid rgb(248, 248, 250);
}
