@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Work Sans", serif; */

* {
  margin: 0;
  padding: 0;
}

/* ----------Google Icons---------- */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  border: 5px solid orangered;
  font-family: "Work Sans", serif;
}

/* ----------Heading Section Styles---------- */
header {
  border: 10px solid rgb(47, 0, 255);
  max-width: 1600px;
  height: 809px;
  margin: 0 auto;
  background-image: url(../images/banner/banner2.png);
  margin-bottom: 130px;
}

/* -----Banner Text Styles----- */
.header-text-container {
  display: flex;
}

.header-text {
  border: 5px solid rebeccapurple;
  margin: 216px 230px 365px 845px;
  width: 525px;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
}

.header-text h1 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
  color: rgb(21, 20, 20);
}

.header-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(68, 67, 67);
  margin-bottom: 32px;
}

/* -----Button Styles----- */
.header-text button {
  width: 160px;
  height: 64px;
  border-radius: 5px;
  background-color: rgb(241, 91, 34);
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

/* ----------Failures Section Styles---------- */
.failures-section {
  border: 10px solid goldenrod;
  width: 1072px;
  height: 723.3px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}

/* ----- Image Styles ----- */
.failures-section-image {
  border: 2px solid orchid;
  width: 569px;
  height: 723.3px;
}
.failures-section-image img {
  width: 100%;
  height: 100%;
}

/* ----- Text Styles ----- */

.failures-section-text-container {
  border: 2px solid seagreen;
  width: 416px;
  height: 400px;
}

.failures-section-text-container h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  color: rgb(21, 20, 20);
}

.failures-section-text-container p {
  color: rgb(68, 67, 67);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.failures-section-text-container h6 {
  color: rgb(68, 67, 67);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 8px;
}

/* ----------Check Symbol Styles---------- */
h6 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.material-symbols-outlined {
  font-size: 20px;
  color: rgb(22, 216, 135);
}

/* ----------my-plans-section styles---------- */

.my-plans-section {
  border: 10px solid red;
  width: 1140px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 130px;
}
.my-plans-section h3 {
  border: 2px solid olivedrab;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: rgb(21, 20, 20);
}

/* ----- my plans container styles ----- */
.my-plans-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

/* -----my plans card styles----- */
.my-plans-card {
  border: 2px solid orangered;
  width: 240px;
  height: 200px;
  text-align: center;
}

/* -----card text styles----- */
.my-plans-card h4 {
  font-size: 30px;
  font-weight: 700;
  color: rgb(21, 20, 20);
  margin-top: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
  white-space: nowrap;
}

.my-plans-card p {
  font-size: 25px;
  font-weight: 500;
  color: rgb(115, 114, 114);
}
